img {
    width: 100%;
    height: 100%;
    /* margin: 2% ; */
}

.bold {
    font-weight: bold;
}

div.opacity {
    display: block;
    opacity: 0.5;
    font-size: 1.1em;
    margin-bottom: 5px;
}


body {
    font-family: 'Indie Flower', cursive;
    
    font-size: 18px;
    padding-left: 17%;
    padding-right: 17%;
    min-width: 700px;
    color: rgb(226, 205, 134);
}

div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/* ?????????? */

div.container > div {
    display: inline-block;
    height: 20%;
    width: 20%;
    margin: 2%;
    /* box-sizing: content-box; */
    
    
    
}

body {
    background-color: rgb(28, 31, 39);
}

div.hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 1%, rgba(0,0,0,0.3) 100%); 
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.3) 100%); 
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.3) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#99000000',GradientType=1 );
    z-index: 1;

    display: none;
}

div.hidden > img {
    width: 570px;
    height: 570px;
    margin-right: 5%;
   
    
}

.exit {

    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    color: rgb(28, 31, 39);
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    position: absolute;
    top: 4px;
    right: 25px;
}

.exit:hover {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 0 0 8px white;
    cursor: pointer;
}

.arrow {
    
    font-family: 'Patua One', cursive;
    font-size: 45px;
    color: rgb(28, 31, 39);
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    position: absolute;

}

div.arrow.left {
    position: relative;
    right: 5%;
}

div.arrow.right{
    position: relative;
    left: 5%;
}

.arrow:hover {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 0 0 8px white;
    cursor: pointer;
}

div.arrow > a {
    text-decoration: none;
    color: rgb(28, 31, 39);
}

div.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}

div.header> div > img {
    width: 150px;
    height: 100px;
}
div.header > .right {
    padding-top: 1.5%;
}

div.info-section {
    min-height: 60%;
    min-width: 150px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

div.description {
    margin-bottom: 25px;

}

div.describe-here, div.comment-here {
    font-size: 0.8em;
    opacity: 0.8;
}

div.right>div {
    opacity: 0.8;
}

div.comment-here > p {
    margin: 4%;
}


div.container > div.image >img:hover {
    opacity: 0.3;
    transform: scale(1.1);
    transition: transform .5s, opacity 1s;
}

/* div.container > div.image > div.cover {
    opacity: 1;
    background-color:  rgb(28, 31, 39);

} */

/* div.container > div.image > div.cover > img.icon:hover {
    opacity: 1;
    transition: opacity 2s;
  
} */

.icon {
    position: relative;
    top: 55px;
    left: -12px;
    /* box-shadow: none; */
    
    
    width: 30px;
    height: 30px;
}

div.container > div.cover {
    margin: 0;
    height: 0;
    width: 0;
    position: relative;
    left: -13%;
    top: 22px; 
    opacity: 0;
}

div.image {
    z-index: 1;
}


